name: Coverage

on:
  workflow_call:
    inputs:
      test:
        required: false
        type: string
        default: pnpm run test --coverage

      build:
        required: false
        type: string
        default: pnpm run build

jobs:
  coverage:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Setup JS
        uses: sxzz/workflows/setup-js@v1

      - name: Build
        run: ${{ inputs.build }}

      - name: Coverage
        run: ${{ inputs.test }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          use_oidc: true
