name: Release Commit
on:
  workflow_call:
    inputs:
      build:
        required: false
        type: string
        default: pnpm run build
      compact:
        required: false
        type: boolean
        default: false
      packages:
        required: false
        type: string
        default: ''
      packageManager:
        required: false
        type: string
        default: ''

jobs:
  release:
    name: Release Commit
    runs-on: ubuntu-latest

    steps:
      - name: Setup JS
        uses: sxzz/workflows/setup-js@v1

      - name: Build
        run: ${{ inputs.build }}

      - name: Publish
        run: pnpm dlx pkg-pr-new@0.0 publish --pnpm ${{ inputs.compact && '--compact' || '' }} ${{ inputs.packages }} ${{ inputs.packageManager && `--packageManager=${{ inputs.packageManager }}` || '' }}
