name: Release

on:
  workflow_call:
    inputs:
      github-release:
        required: false
        type: boolean
        default: true
      publish:
        required: false
        type: boolean
        default: false
      build:
        required: false
        type: string
        default: ''

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Setup JS
        uses: sxzz/workflows/setup-js@v1
        with:
          fetch-all: true

      - name: Generate GitHub Changelog
        run: pnpx changelogithub
        continue-on-error: true
        if: ${{ inputs.github-release }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: ${{ inputs.build }}
        if: ${{ inputs.build && inputs.publish }}

      - name: Publish to NPM
        run: pnpm -r publish --access public --no-git-checks
        if: ${{ inputs.publish }}
